@import "~bootstrap/scss/bootstrap";
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

@keyframes tip {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.d3-tip {
  background-color: rgba(255, 255, 0, 0.7);
  color: #000;
  padding: 0 10px;
  font-size: 30px;
  border-radius: 3px;
  animation-name: tip;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

#chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chartSvg {
  background: rgb(193, 203, 218);
}

.bar:hover {
  fill: yellow;
}

#info {
  color: rgb(37, 60, 94);
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
}